@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body {
  font-family: 'Open Sans';
  font-size: 10pt;
}
header {
  position: absolute;
  right: 25px;
  top: 25px;
  color: white;
}
section {
  -webkit-font-smoothing: antialiased;
  background: -webkit-linear-gradient(rgb(160, 160, 160), rgb(200, 200, 200));
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
}

section#kinect {
}

button {
  cursor: pointer;
}

canvas {
  border: 1px solid black;
  background: white;
}

.log {
 width: 100%;
 height: 10em;
 background: white;
 border: 1px solid #333;
 overflow: auto;
 font-size: 9pt;
}


.enable-depth {
  background: #FF7979;
  border: 1px solid #666;
}

.enable-depth.on {
  background: #73CC85;
}

.led {
  background: white;
  border: 1px solid #999;
  border-radius: 40px;
  padding: 0 6px;
}

.led:hover[value='LED_OFF'] {
  background: black;
}

.led:hover[value='LED_GREEN'] {
  background: green;
}

.led:hover[value='LED_RED'] {
  background: red;
}

.led:hover[value='LED_BLINK_GREEN'] {
  background: green;
  -webkit-animation-name: bgblink;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes bgblink {
  from { }
  to { background: white; }
}

.led:hover[value='LED_BLINK_RED_YELLOW'] {
  background: red;
  -webkit-animation-name: ryblink;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}

@-webkit-keyframes ryblink {
  from { }
  to { background: orange; }
}

#eye1 {
  right: 145px;  
  top: 10px;
  position: absolute;
}
#eye2 {
  right: 119px;  
  top: 10px;
  position: absolute;
}
.show {
  -webkit-animation-name: eyeblink;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: normal;
}

#eye2.show {
  -webkit-animation-direction: reverse;
}
@-webkit-keyframes eyeblink {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1799deg);
  }
}

